@charset "utf-8";
body {
    background-color: #FFFFFF;
    background-image: url(../images/sharkbg.jpg);
    color: #F40CEB;
    background-attachment: fixed;
    background-size: cover;
    font-style: normal;
    font-weight: 200;
    font-family: "Noto Sans TC", "Noto Sans TC Black", "Noto Sans TC Light", "Noto Sans TC Medium", "Noto Sans TC Thin", "Noto Serif TC", "Noto Serif TC Light", "Noto Serif TC Medium";
    font-size: large;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    opacity: 1;
    background-repeat: no-repeat;
}
section {
    background-color: #F3F3F3;
    color: #212020;
    border-radius: 20px;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 28px;
    font-size: 14pt;
    font-style: normal;
    text-align: justify;
    float: right;
    height: auto;
    opacity: 1;
    margin-bottom: 40px;
}
body section p {
    opacity: 1;
    font-weight: 400;
    color: #090909;
}

aside {
    width: 45%;
    float: left;
    font-style: normal;
    font-weight: 400;
}
body nav a {
  color: #F93DB8;
  text-decoration: none;
}
h1 {
  font-family: aguafina-script;
  text-align: center;
  font-size: 3.5em;
  width: 100%;
  font-style: normal;
  font-weight: 400;
}
h2 {
    max-width: none;
    font-weight: 500;
    color: #FB08DB;
}
footer {
    font-size: small;
    position: fixed;
    bottom: 0px;
    width: 100%;
    clear: both;
    background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(5, 5, 5, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(5, 5, 5, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(5, 5, 5, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(5, 5, 5, 1.00) 100%);
    height: 51px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
    color: #FFFFFF;
    margin-top: auto;
}
header {
    text-align: center;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%;
}
body {}
.navlist {
  list-style-type: none;
  background-color: #FFFFFF;
  overflow-x: hidden;
}
.navlistitem {
  float: left;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
  color: #F40CEB;
  font-weight: 700;
}

.navbar-nav.mr-auto .nav-item .nav-link {
    color: #272626;
    font-weight: 500;
}

.navbar-nav.mr-auto .nav-item .nav-link:hover {
    color: #F40CEB;
    font-weight: 500;
}
body section h3 {
  color: #EE01FC;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: #FF00D6;
}
.navbar-brand {
    color: #FB08DB;
    font-size: xx-large;
    font-family: "Noto Sans TC", "Noto Sans TC Black", "Noto Sans TC Light", "Noto Sans TC Medium", "Noto Sans TC Thin", "Noto Serif TC", "Noto Serif TC Light", "Noto Serif TC Medium";
    font-style: normal;
    font-weight: 200;
    letter-spacing: -1px;
}
.carousel-item.active .carousel-caption p {
    font-weight: 200;
    text-shadow: 2px 2px 1px #090909;
}
.carousel-item .carousel-caption h5 {
    text-shadow: 2px 2px 2px #272626;
}
.accordion {
    border-radius: 20px;
    background-color: #FFFFFF;
    max-width: 100%;
    height: auto;
}





@media (max-width: 700px) {
  h1 {
    font-family: aguafina-script;
    font-size: 3em;
    width: 100%;
    text-align: center;
  }
  section {
    background-color: #F3F3F3;
    color: #212020;
    border-radius: 20px;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 28px;
    font-size: 14pt;
    font-style: normal;
    text-align: justify;
    float: none;
  }
  header {
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100%;
  }
  aside {
    width: 100%;
    float: none;
  }
}

@media (max-width:500px){
h1 {
    font-family: aguafina-script;
    font-size: 2.5em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
header {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#carouselExampleIndicators1 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
section {
    background-color: #F3F3F3;
    color: #212020;
    border-radius: 20px;
    width: 85%;
    margin-left: 8%;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 28px;
    font-size: 14pt;
    font-style: normal;
    text-align: justify;
    float: none;
    height: auto;
    opacity: 0.8;
}
aside {
    width: 100%;
    float: none;
    font-style: normal;
    font-weight: 400;
}
.accordion {
    border-radius: 20px;
    background-color: #FFFFFF;
    max-width: 100%;
    height: auto;
}
.navbar-brand {
    color: #FB08DB;
    font-size: xx-large;
    font-family: "Noto Sans TC", "Noto Sans TC Black", "Noto Sans TC Light", "Noto Sans TC Medium", "Noto Sans TC Thin", "Noto Serif TC", "Noto Serif TC Light", "Noto Serif TC Medium";
    font-style: normal;
    font-weight: 200;
    letter-spacing: -2px;
}









}
